# Kickstarter_survivors
### Sifan Liu

## Set up and load data

In [1]:
# Load packages and set up
import numpy as np
import pandas as pd
import json
import glob

def CustomParser(data):
    import json
    try:
        j1 = json.loads(data)
        return j1
    except ValueError:
        pass

JSONconverters = {'location':CustomParser, 'category':CustomParser, 'creator':CustomParser}

In [2]:
# read data from csv

def ReadAllfiles(path):
    all_files = glob.glob(path + "/*.csv")
    df_from_each_file = (pd.read_csv(f,converters = JSONconverters) for f in all_files)
    df = pd.concat(df_from_each_file, ignore_index = True)
    return df

path2018 = r'source/Kickstarter_2018-02-15T03_20_44_743Z'
path2015 = r'source/Kickstarter_2015-12-17T12_09_06_107Z'

df2015 = ReadAllfiles(path2015)
df2018 = ReadALlfiles(path2018)

df = pd.concat(df2015, df2018).drop_duplicates().reset_index(drop=True)

In [3]:
# sample_data ------------------------------------------
# df = pd.read_csv('source/kickstarter_sample.csv', converters = JSONconverters)

In [3]:
# extract json information to columns
def JsonConcate(dataframe, column):
    temp = dataframe[column].apply(pd.Series)
    temp = temp.rename(columns = lambda x : column + '_' + str(x))
    dataframe = pd.concat([dataframe[:],temp[:]],axis =1)
    return dataframe

for col in ('location','category','creator'):
    df = JsonConcate(df,col)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144263 entries, 0 to 144262
Data columns (total 49 columns):
id                           144263 non-null int64
photo                        144263 non-null object
name                         144260 non-null object
blurb                        144251 non-null object
goal                         144263 non-null float64
pledged                      144263 non-null float64
state                        144263 non-null object
slug                         144263 non-null object
disable_communication        144263 non-null bool
country                      144263 non-null object
currency                     144263 non-null object
currency_symbol              144263 non-null object
currency_trailing_code       144263 non-null bool
deadline                     144263 non-null int64
state_changed_at             144263 non-null int64
created_at                   144263 non-null int64
launched_at                  144263 non-null int64
backers_count                144263 non-null int64
static_usd_rate              144263 non-null float64
usd_pledged                  144263 non-null float64
creator                      144263 non-null object
location                     143585 non-null object
category                     144263 non-null object
profile                      144263 non-null object
spotlight                    144263 non-null bool
urls                         144263 non-null object
source_url                   144263 non-null object
location_country             143585 non-null object
location_displayable_name    143585 non-null object
location_id                  143585 non-null float64
location_is_root             143585 non-null object
location_name                143585 non-null object
location_short_name          143585 non-null object
location_slug                143271 non-null object
location_state               143559 non-null object
location_type                143585 non-null object
location_urls                143585 non-null object
category_color               144263 non-null int64
category_id                  144263 non-null int64
category_name                144263 non-null object
category_parent_id           144263 non-null int64
category_position            144263 non-null int64
category_slug                144263 non-null object
category_urls                144263 non-null object
creator_avatar               144263 non-null object
creator_id                   144263 non-null int64
creator_name                 144263 non-null object
creator_slug                 39680 non-null object
creator_urls                 144263 non-null object
dtypes: bool(3), float64(5), int64(11), object(30)
memory usage: 51.0+ MB

In [10]:
place2msa = pd.read_csv("source/place2msa.csv", encoding = 'latin-1')
# remove 'city'|'town'|'CDP'
place2msa['place'] = place2msa['PLACENAME'].str.replace(r'(\s\w+)$','')

place2msa.sample(5)

,Unnamed: 0,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,FUNCSTAT,cty_name,cty_alt,FIPS_City,...,cbsa_name,metro_micro,csa_name,st_name,countyFIPS,central_outlying,fips,top100,Frey52,place
13543,13544,MI,26,31160,Gaastra city,County Subdivision,F,Iron County,NaN,2631160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gaastra
13356,13357,MI,26,23500,Durand city,Incorporated Place,A,Shiawassee County,NaN,2623500,...,"Owosso, MI",Micropolitan Statistical Area,"Lansing-East Lansing-Owosso, MI",Michigan,155.0,Central,26155.0,0.0,0.0,Durand
12520,12521,MA,25,52770,Pepperell CDP,Census Designated Place,S,Middlesex County,NaN,2552770,...,"Boston-Cambridge-Newton, MA-NH",Metropolitan Statistical Area,"Boston-Worcester-Providence, MA-RI-NH-CT",Massachusetts,17.0,Central,25017.0,1.0,1.0,Pepperell
34249,34250,TX,48,100,Abbott city,Incorporated Place,A,Hill County,NaN,4800100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abbott
16484,16485,MN,27,29636,Hollandale city,Incorporated Place,A,Freeborn County,NaN,2729636,...,"Albert Lea, MN",Micropolitan Statistical Area,NaN,Minnesota,47.0,Central,27047.0,0.0,0.0,Hollandale

In [ ]:
## TODO

# merge population data

## Clean Kickstarter dataset

In [4]:
# convert unix time
time_cols = ['created_at', 'deadline', 'state_changed_at','launched_at']
df[time_cols] = df[time_cols].apply(pd.to_datetime,unit='s')

In [5]:
# calculate duration
df['life'] = df['deadline'] - df['launched_at']
df['duration'] = df['state_changed_at'] - df['launched_at']
df['prep'] =  df['launched_at'] - df['created_at']

# df['state_changed_at'][0].year

In [6]:
# factorize project state
df['state'] = df['state'].astype('category')
pd.pivot_table(df, index = ['state'])

,backers_count,category_color,category_id,category_parent_id,category_position,creator_id,currency_trailing_code,disable_communication,goal,id,location_id,pledged,spotlight,static_usd_rate,usd_pledged
state,,,,,,,,,,,,,,,
canceled,15.435245,1.134612e+07,205.719621,11.856812,6.393898,1.069623e+09,0.852709,0.0,104028.001546,1.078889e+09,3.336779e+06,1750.442326,0.0,1.040618,1612.918871
failed,15.702966,1.221463e+07,161.661975,12.274106,7.304078,1.074816e+09,0.877473,0.0,68835.162420,1.075234e+09,3.320814e+06,1269.147755,0.0,1.037802,1263.419756
live,59.426550,1.060417e+07,171.925329,11.900683,6.357491,1.069210e+09,0.782821,0.0,93633.214739,1.079754e+09,3.438177e+06,6582.235586,0.0,1.018670,5470.274498
successful,272.362804,1.172329e+07,94.463346,11.644596,7.792428,1.071513e+09,0.910901,0.0,10191.986200,1.073065e+09,3.281834e+06,22253.232410,1.0,1.036296,22264.671734
suspended,54.599393,9.855450e+06,252.758725,12.684370,5.525038,1.071310e+09,0.816388,1.0,26292.910470,1.124943e+09,3.396824e+06,4590.844674,0.0,1.029036,4489.692731

In [7]:
df['category_broad'] = df['category_slug'].str.extract(r'([^\/]+)', expand = False).astype('category')
df['category_broad'].describe()

count     144263
unique        15
top        music
freq       26283
Name: category_broad, dtype: object

In [7]:
# generate gender by first name
# STEP 1: strip first name
df['first_name'] = df['creator_name'].str.extract(r'([^\s]+)',expand = False).str.title()

# STEP 2: gender
# https://pypi.org/project/gender-guesser/
import gender_guesser.detector as gender
d = gender.Detector()

# STEP 3: apply
df['gender'] = df['first_name'].apply(d.get_gender)

pd.pivot_table(df, index = ['gender'],aggfunc = len)

,backers_count,blurb,category,category_color,category_id,category_name,category_parent_id,category_position,category_slug,category_urls,...,slug,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type
gender,,,,,,,,,,,,,,,,,,,,,
andy,1997,1997,1997,1997,1997,1997,1997.0,1997,1997,1997,...,1997,1997,1997,1997,1997,1997,1997.0,1997,1997.0,1997
female,35752,35752,35752,35752,35752,35752,35752.0,35752,35752,35752,...,35752,35752,35752,35752,35752,35752,35752.0,35752,35752.0,35752
male,86090,86090,86090,86090,86090,86090,86090.0,86090,86090,86090,...,86090,86090,86090,86090,86090,86090,86090.0,86090,86090.0,86090
mostly_female,7861,7861,7861,7861,7861,7861,7861.0,7861,7861,7861,...,7861,7861,7861,7861,7861,7861,7861.0,7861,7861.0,7861
mostly_male,8303,8303,8303,8303,8303,8303,8303.0,8303,8303,8303,...,8303,8303,8303,8303,8303,8303,8303.0,8303,8303.0,8303
unknown,55611,55611,55611,55611,55611,55611,55611.0,55611,55611,55611,...,55611,55611,55611,55611,55611,55611,55611.0,55611,55611.0,55611

In [10]:
# match place to MSA

df = pd.merge(df,place2msa,how = 'left',
              left_on=['location_state','location_localized_name'],
              right_on=['STATE','place'])

## Summary: selected columns

In [8]:
# keep selected columns
col = ['location_country','location_state','location_localized_name','cbsa_name','top100',
       'backers_count','goal','pledged','creator_name','gender','category_broad','category_name',
       'launched_at','deadline','state_changed_at','state','life','duration','prep']

df_sample = df[col]

# table = pd.pivot_table(df_sample, index=["location_state","location_country"], aggfunc = [np.mean,len])
# table.query('location_country == ["US"]')

In [3]:
# df = pd.read_pickle("master")

In [9]:
# df_sample.to_pickle("sample")
df_sample.to_pickle("master")